cryptography==37.0.2
Flask==2.1.1
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==2.5.1
GitPython==3.1.27
gunicorn==20.1.0
Jinja2==3.1.1
jsonschema==4.7.2
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
log-symbols==0.0.14
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mistune==0.8.4
multidict==6.0.2
mysqlclient==2.1.0
PyMySQL==1.0.2
pyparsing==3.0.9

